@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
 
body {
   margin: 0;
   background-color: #f0f2f5;
   font-family: "Roboto", sans-serif;
}
.wrapper {
   max-width: 1000px;
   display: flex;
   margin: 10rem auto;
}
.title {
   font-size: 3.5rem;
   margin-bottom: 0px;
   color: hsl(298, 82%, 49%);
}
.amit {
   margin-top: 5px;
   font-size: 1.5rem;
   padding-right: 5rem;
}
.form-container {
   background-color: white;
   padding: 1rem;
   border: 1px solid lightgray;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   width: 400px;
}
.form-container * {
   margin: 8px 0;
   padding: 1rem;
   border: 1px solid rgb(228, 228, 228);
   font-size: 1rem;
   border-radius: 10px;
}
.login-button {
   background-color: #166fe5;
   border: none;
   color: white;
   font-size: 1.25rem;
   font-weight: bold;
}
.forget {
   border: none;
   padding: 0;
   text-align: center;
   text-decoration: none;
   color: #166fe5;
}
.line {
   border: none;
   border-radius: 0;
   border-top: 1px solid lightgray;
   margin: 10px 0;
   padding: 0;
}
.create {
   border: none;
   width: 200px;
   margin: 10px auto;
   color: white;
   font-size: bold;
   background-color: #42b72a;
}
